.delete-btn-container {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 2px;
  cursor: pointer;
}
.edit-doc-btn-container {
  width: 30px;
  height: 30px;
  background-color: rgb(47, 46, 46);
  border-radius: 2px;
  cursor: pointer;
}
.delete-btn-heading {
  font-size: 16px;
  margin: 5px;
}
.edit-doc-btn-heading {
  font-size: 16px;
  margin: 5px;
  color: #fff;
}
.delete-pf-btn{
  background-color: red;
}
